.formLogin{
    border-radius: 10px;
    box-shadow: 0 .1rem .5rem rgb(185, 136, 44);
    animation: up-and-down 4s linear infinite;
}


@media (max-width:767px) {
    .imgLogin{
    display: none;
    }
    .formLogin{
        margin: 90px 0px;
    }
  }

  @keyframes up-and-down{ 
    0%,
    100% {
      top:5px;
    }
    50%{
      top: -10px;
    }
  }

  .login{
    position: relative;
    
  }

  .loginBox {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    width: 85%;
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    background: rgba(247, 247, 247, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .loginBox .userBox {
    position: relative;
  }
  
  .loginBox .userBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #1a1a1a;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #646464;
    outline: none;
    background: transparent;
  }
  
  .loginBox .userBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #2e2e2e;
    pointer-events: none;
    transition: .5s;
  }
  
  .loginBox .userBox input:focus ~ label,
  .loginBox .userBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #424242;
    font-size: 17px;
  }
  
  .loginBox form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #303030;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: .5px solid black ;
  }
  
  .loginBox a:hover {
    background: #0394f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0380f4,
                0 0 25px #0380f4,
                0 0 50px #0380f4,
                0 0 100px #0380f4;
  }
  
  .loginBox a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .loginBox a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #036bf4);
    animation: btn-anim1 2s linear infinite;
  }