.newNav > li > a{
color: #4f7db9;
font-size: 17px;
font-weight: 600;
}
.newNav > li > a:hover{
color: #426799 !important;
}
@media (max-width:767px) {
  .newNav > li > a{
    width: fit-content;
    }
  .newNav{
    display: flex !important;
    
  }
  
}
@media (max-width:767px) {
  .social > li > a{
    width: fit-content;
    }
  .social{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
  }
  
}
.social > li > a{
  color: #4f7db9;
  font-size: 17px;
  font-weight: 600;
  }
  .social > li > a:hover{
    color: #426799 !important;
    }
.header{
    z-index: 4;
    padding: 5px 20px;
    background-color: white;
    position: relative;
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    box-shadow:0 0 10px #4f7db9;
  }
  @media (max-width:767px) {
    .header {
        padding: 0px 0px;
    }
  }

  .logo{
    text-decoration: none;
    color: #4f80c0 !important;
    font-size: 35px !important;
    font-weight: bold ;
  }
